body {
    background-color: aliceblue;
}

header {
    font-size: large;
    height: 100px;
    background-color: cyan;
    text-align: center;
}

.content {
    width: 300px;
    height: auto;
    background-color: aquamarine;
    margin: 100px auto;
    max-width: 300px;
}

footer {
    height: 100px;
    background-color: chartreuse;
    text-align: end;
}

#first {
    width: 300px;
    background-color: snow;
    margin: 10px auto;
}

@media screen  and (max-width: 960px) {
    body {
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 960px) {
    body {
        padding-bottom: 4.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 4.5rem;
        font-size: 3rem;
    }
}

#second {
    width: 300px;
    background-color: snow;
    margin: 10px auto;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#static {
    background-color: yellow;
    position: static;
}

#relative {
    position: relative;
    background-color: khaki;
    left: 20px;
    top: -10px;
}

#fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    background-color: brown;
}

#absolute_r {
    position: relative;
    background-color: cornflowerblue;
}

#absolute {
    position: absolute;
    left: 20px;
    background-color: blueviolet;
}

.float1 {
    margin: 50px auto;
    float: left;
    background-color: darkgreen;
    padding: 20px;
}

.float2 {
    clear: left;
}


